<div class="container">
  <div class="jumbotron">
      <div class="row">
          <!-- componente header -->
              <div class="header col-md-12">
                  <div class="col-md-10">
                    <div class="row">
                      <div class="col-sm-12"><h3 class="font18">LUCAS CAMARGO DE SOUZA</h3></div>
                      <div class="cor col-sm-6">Contato: (11) 91634 3066</div>
                      <div class="cor col-sm-6">Cabreúva || SP</div>
                    </div>
                  </div>
              </div>
      <div class="row">
          <hr>
      <!--  Informações  -->
      <div class="conteudo col-sm-8">
          <div class="col-sm-12">
              <h5>Informações</h5>
              <hr>
              <p class="recuo"> Eu sou Lucas e moro em Cabreúva, estudo Análise e Desenvolvimento de Sistemas
              </p>
              <p class="recuo" style="margin-top: 10px;">
                   Procuro uma vaga na área de informatica
              </p>
          </div>
          <div  class="col-sm-12">
              <h5>Educação e formação</h5>
              <hr>
              <ul>
                  <li>
                      <strong>2021 - 2023</strong>
                      <p>Técnico em Desenvolvimento de Sistemas || ETEC </p>
                  </li>
                  <li>
                    <strong>2024 - 2025</strong>
                    <p>Técnologo em Análise e Desenvolvimento de Sistemas || FATEC </p>
                </li>
              </ul>
          </div>
      </div>
      <!-- Linguagens -->
      <div class="lateral col-sm-4" >
          <div  class="col-sm-12">
              <h5>Linguagens</h5>
              <hr>
              <ul>
                  <li>Português (Fluente)</li>
                  <li>Inglês (Básico)</li>
              </ul>
          </div>
      </div>
 </div>
      <!-- footer do site -->
      <div class="footer col-sm-12">
          <div>
              <a href="https://github.com/luukinhaa">
              </a>
          </div>
      </div>
  </div>
    </div>
</div>
